			body {
 				margin:0;
 				padding:0;
			}

			#menubar {
				display: block;
				max-width: 30em;
				width: 100%;
				height: 4em;
				background-color: #ccc;
				padding: 0;
				position: fixed;
				top: 0;
				left: 50%;
			    margin-right: -50%;
			    transform: translate(-50%, 0);
			    z-index: 99;
			}
			.menuItem {
				padding: 0;
				margin: 0 auto;
				display: inline-flex;
				height: 100%;
				width: 5em;
				overflow: hidden;
				color: white;
				justify-content: center;
  				align-items: center;
			}
			.menuItem img {
				height: 100%;
				display: block;
			}

			.applicationStartButton {
				top: 10em;
			}

			.button {
				padding: 1em;
				background-color: red;
				display: inline-block;
				color: white;
				font-family: arial;
				font-size: 1em;
				-webkit-user-select: none; /* Safari */        
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* IE10+/Edge */
				user-select: none; /* Standard */
			}
			.button:hover, .button:active {
				background-color: #a00;
			}

			.center {
				position: relative;
				left: 50%;
			    transform: translate(-50%, 0) 	
			}

			.slider {
				width: 75%;
				display: inline-block;
			}
			.timepicker {
				max-width: 30%;
			}
			.full {
				width: 100%;
			}

			.heading {
				/*border-bottom: 1px solid white;*/
				padding-bottom: 0.1em;
				display: block;
				font-weight: bold;
			}
			.active {
				color: red;
			}
			.groupBox {
				margin: 1em;
				padding: 1em;
				padding-top:0.1em;
				border-radius: 0.7em;
				border: 2px solid white;
				background-color: #444;
				color: white;
				position: relative;
			}
			.checkable {
				display: inline-block;
				padding-bottom: 0.6em;
			}
			.labelIcon {
				display: inline-flex;
				width: 2.5em;
				height: 2.5em;
				padding: 0.5em;
				justify-content: center;
  				align-items: center;
			}
			.labelIcon img {
				width: 100%;
			}

			.label {
				margin-top: 0em;
				display:block;
			}

			.verticalSpacer {
				height: 0.1em;
			}

			.page {
				padding-top: 5em;
				max-width: 30em;
				margin: auto;
				background-image: url('/static/bg.jpg');
				background-size: cover;
 				background-repeat: no-repeat;
 				min-height: 100%;
 				box-sizing: border-box;
 				display: none;
 				overflow:auto;
			}
			#pLoading #spinner {
				width: 5em;
				top: 50%;
				position: relative;
				left: 50%;
			    margin-right: -50%;
			    transform: translate(-50%, 0) 				
			}

			#pWifi {
				text-align: center;
			}

			select, input[type="text"], input[type="password"] {
				min-width: 15em;
				max-width: 15em;
				font-size: 1.4em;
				margin: 0.2em;
			} 

			#pWifi #wifiSpinner {
				width: 5em;
			}

			#cAppProfile_template {
				display:none;
			}
			.deleteProfile {
				display: block;
				position: absolute;
				top: 0.3em;
				right: 0.6em;

			}
			.enableSlider {
				display: block;
				position: absolute;
				top: 0.3em;
				right: 3.2em;
			}
			.sliderOn {
				display:none;
			}

			.frame {
				display: none;
			}