{% extends 'base.html' %}

{% block header %}
		<script>

		window.onload = onLoadFunction;

		function onLoadFunction() {
			loadInitColor('/get/color/letters', 'color_letters');
			loadInitColor('/get/color/frame', 'color_frame');
			loadInitColor('/get/color/seconds', 'color_seconds');
			loadInitColor('/get/color/minutes', 'color_minutes');
			loadInitBrightness('/get/brightness', 'brightness');
			longPolling();
		}

		function loadInitBrightness(url, elementId) {
			var xhttp;
			xhttp=new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					response = JSON.parse(this.responseText);
					if (response.state == 'ok') {
						document.getElementById(elementId).value = response.brightness;
					} else {
						document.getElementById('error').innerHTML = 'Error Loading';
					}
				}
			};
			xhttp.open("GET", url, true);
			xhttp.send();			
		}

		function loadInitColor(url, elementId) {
			var xhttp;
			xhttp=new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					response = JSON.parse(this.responseText);
					if (response.state == 'ok') {
						document.getElementById(elementId).value = RGB2HEX(response);
					} else {
						document.getElementById('error').innerHTML = 'Buchstabenfarbe konnte nicht geladen werden';
					}
				}
			};
			xhttp.open("GET", url, true);
			xhttp.send();
		}


		function longPolling() {
			console.log("start polling...")
			var xhttp;
			xhttp=new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var data = JSON.parse(xhttp.responseText);
					if (data.update == 1) {
						console.log('update');
						loadInitColor('/get/color/letters', 'color_letters');
						loadInitColor('/get/color/frame',   'color_frame');
						loadInitColor('/get/color/seconds', 'color_seconds');
						loadInitColor('/get/color/minutes', 'color_minutes');
						loadInitBrightness('/get/brightness', 'brightness');
					} else {
						console.log('no update');
					}
					longPolling();
				}
			}
			xhttp.open("GET", "/longpoll", true);
			xhttp.send();
		}


		function changeColor(url, id) {
			var c = document.getElementById(id).value;
			var rgb = HEX2RGB(c);
			
			xhttp=new XMLHttpRequest();
			xhttp.open("POST", url, true);
			xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xhttp.send(JSON.stringify(rgb));
		}

		function changeValue(url, id) {
			var val = document.getElementById(id).value;
			
			xhttp=new XMLHttpRequest();
			xhttp.open("POST", url, true);
			xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xhttp.send(JSON.stringify({'brightness': parseInt(val)}));
		}

		function RGB2HEX(rgb) {
		  r = rgb.r.toString(16);
		  g = rgb.g.toString(16);
		  b = rgb.b.toString(16);

		  if (r.length == 1)
		    r = "0" + r;
		  if (g.length == 1)
		    g = "0" + g;
		  if (b.length == 1)
		    b = "0" + b;

		  return "#" + r + g + b;
		}

		function HEX2RGB (hex) {
	        "use strict";
	        if (hex.charAt(0) === '#') {
	            hex = hex.substr(1);
	        }
	        if ((hex.length < 2) || (hex.length > 6)) {
	            return false;
	        }
	        var values = hex.split(''),
	            r,
	            g,
	            b;

	        if (hex.length === 2) {
	            r = parseInt(values[0].toString() + values[1].toString(), 16);
	            g = r;
	            b = r;
	        } else if (hex.length === 3) {
	            r = parseInt(values[0].toString() + values[0].toString(), 16);
	            g = parseInt(values[1].toString() + values[1].toString(), 16);
	            b = parseInt(values[2].toString() + values[2].toString(), 16);
	        } else if (hex.length === 6) {
	            r = parseInt(values[0].toString() + values[1].toString(), 16);
	            g = parseInt(values[2].toString() + values[3].toString(), 16);
	            b = parseInt(values[4].toString() + values[5].toString(), 16);
	        } else {
	            return false;
	        }
	        return {"r": r, "g": g, "b": b};
	    }

		</script>
{% endblock %}

{% block content %}
		<div id="error"></div>

		<div id="pageWrapper">
			Helligkeit<br>
			<input type="range" min="0" max="255" value="50" class="slider" id="brightness" onchange="changeValue('/set/brightness','brightness');">



			<div class="tile">
				<input type="color" id="color_letters" value="#ff0000" onchange="changeColor('/set/color/letters','color_letters');">
				Buchstaben
			</div>

			<div class="tile">
				<input type="color" id="color_minutes" value="#ff0000" onchange="changeColor('/set/color/minutes','color_minutes');">
				Minuten
			</div>

			<div class="tile">
				<input type="color" id="color_seconds" value="#ff0000" onchange="changeColor('/set/color/seconds', 'color_seconds');">
				Sekunden
			</div>

			<div class="tile">
				<input type="color" id="color_frame" value="#ff0000" onchange="changeColor('/set/color/frame','color_frame');">
				Rand
			</div>
		</div>


{% endblock %}
			


